@import "tailwindcss";

:root {
    --roboto: "Roboto", sans-serif;
    --diplomata: "Diplomata", cursive;
    --notable: "Notable", serif;
    --atkinson-hyperlegible-mono: "Atkinson hyperlegible mono", monospace;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-roboto: var(--roboto);
    --font-diplomata: var(--diplomata);
    --font-notable: var(--notable);
    --font-atkinson: var(--atkinson-hyperlegible-mono);
}
